[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
django = "==4.0.3"
django-cors-headers = "*"
djangorestframework = "*"
mysqlclient = "*"
pytz = "*"
sqlparse = "*"
tzdata = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-filter = "*"
drf-yasg = "*"

[dev-packages]
isort = "*"
django-dotenv = "*"

[requires]
python_version = "3.10"
